mat-card{
    width: calc(100% - 48px);
    height: 90px;
}

/* Displays if no episode data loaded */
mat-spinner{
    margin: auto;
}

button{
    color: #fc401f;
    position: absolute;
    bottom: 0;
}